@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/* Global Styles */
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

section {
    padding: 60px 0px;
}

/* Layout with Flexbox Section */

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}
/* Header background color */

.header {
    background-color: #1F2937;
}

/* Flex Layout */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* Logo Styles */

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAFB;
}

/* Navigation Links */

.nav ul {
    display: flex;
    gap: 24px;
}

.nav a {
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Section */

.hero {
    background-color: #1F2937;
    padding: 80px 0px;
}

/* Turn .hero-container into a flex layout */
.hero-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* Keeps text from stretching too wide.  */
.hero-text {
    max-width: 500px;
}

/* Hero Heading Styles */
.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 16px;
}

/* Hero Paragraph Styles */
.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 24px;
}

/* Hero Button Styles */
.hero-text button {
    background-color: #3882F6;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px 28px;
}

/* Hero Image Styles */
.image-placeholder {
    background-color: #6B7280;
    color: #FFFFFF;
    width: 400px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}